{% extends extend_base %}

{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again, n00b.</p>
{% endif %}

<div class="form_box">
  <form method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
    <h1>Login to My Life Is Geek:</h1>
  
    <label> 
      <span>Username: </span> 
      <input id="id_username" class="input_text" type="text" name="username" maxlength="30" /> 
    </label> 
    <label> 
      <span>Password:</span> 
      <input type="password" class="input_text" name="password" id="id_password" /> 
    </label> 
    <label>
    <input type="submit" class="button" value="Login!" /> 
    <input type="hidden" name="next" value="{{ next }}" />
    </label>
  </form> 
</div>

{% endblock %}
