/* Global */
/* ------------------------------------------------------------------------ */

/* Color Scheme */
/* ------------------------------------------------------------------------ */
/* Main 6e1513 */
/* Purple 6E122F */
/* Brown 6E3312 */
/* Brighter Red C42522 */
/* Grey 404040 */
/* Black 000000 */
/* Teal 126B6E */
/* Green 3E6E12 */
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:active {
  color: black;
}
a:hover {
  text-decoration: underline;
  color: black;
}
.clear { 
  clear: both;
}
.black {
  color: black; 
}
.white {
  color: white; 
}
.underline {
  text-decoration: underline; 
}
.no_shadow {
  text-shadow: none;
}
/* Post/Comment */
/* ------------------------------------------------------------------------ */

/* ------------------------------------------
PURE CSS SPEECH BUBBLES
by Nicolas Gallagher
- http://nicolasgallagher.com/pure-css-speech-bubbles/

http://nicolasgallagher.com
http://twitter.com/necolas

Created: 02 March 2010
Version: 1.01

Dual licensed under MIT and GNU GPLv2 © Nicolas Gallagher 
------------------------------------------ */

/* NOTE: Some declarations use longhand notation so that it can be clearly
explained what specific properties or values do and what their relationship
is to other properties or values in creating the effect */

.triangle-border {
  position:relative;
  /*margin:1em 0 3em;*/ 
  border:5px solid red;
  color:#333;
  background:#fff;
  /* css3 */
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px 10px 10px 10px;
  -webkit-box-shadow: 5px 5px 5px #777;
  -moz-box-shadow: 5px 5px 5px #777; 
  box-shadow: 5px 5px 5px #777; 
}

/* creates the larger triangle */
.triangle-border:before {
  content:"\00a0";
  display:block; /* reduce the damage in FF3.0 */
  position:absolute;
  bottom:-40px; /* value = - border-top-width - border-bottom-width */
  left:40px; /* controls horizontal position */
  width:0;
  height:0;
  border:20px solid transparent;
  border-top-color:red;
}

/* creates the smaller  triangle */
.triangle-border:after {
  content:"\00a0";
  display:block; /* reduce the damage in FF3.0 */
  position:absolute;
  bottom:-26px; /* value = - border-top-width - border-bottom-width */
  left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  width:0;
  height:0;
  border:13px solid transparent;
  border-top-color:#fff;
}
table.like-dislike {
  color: blue;
  border: 0px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 80px;
}
.like-dislike a {
  color: white;
  margin-left: 10px;
}
.post_user {
  font-size: 75%;
  position: absolute;
  bottom: 5px;
}
.post_content {
  font-size: 110%;
}
.post {
  position: relative;
  padding-top: 25px;padding-bottom: 25px;
  padding-left:15px;padding-right:15px;
  -webkit-box-shadow: 5px 5px 5px #000;
  -moz-box-shadow: 5px 5px 5px #000; 
  box-shadow: 5px 5px 5px #000; 
}
.prepost {
  white-space:normal;
  color: yellow;
}
.post_table {
  width: 550px; 
}
.post_table a {
  text-decoration: none; 
}
.post_table_right_top {
  position: absolute;
  right: 24px;
  top: 5px;
}
.post_table_right_bottom {
  position: absolute;
  right: 13px;
  top: 43px;
}
.icon_tile li {
  display: inline;
}
#comment_form {
  width: 350px;
  text-align: right;
}
#comment_form p {
  color: white;
}

.char_count {
  font-size: 150%;
  color: blue;
}
.comment {
  position:relative;
  padding:15px;
  /*margin:1em 0 3em;*/ 
  border:2px solid blue;
  color:#333;
  background:#fff;
  
  /* css3 */
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px 10px 10px 10px;
  -webkit-box-shadow: 5px 5px 5px #777;
  -moz-box-shadow: 5px 5px 5px #777; 
  box-shadow: 5px 5px 5px #777; 
}

/* creates the larger triangle */
.comment:before {
  content:"\00a0";
  display:block; /* reduce the damage in FF3.0 */
  position:absolute;
  bottom:-30px; /* value = - border-top-width - border-bottom-width */
  left:45px; /* controls horizontal position */
  width:0;
  height:0;
  border:15px solid transparent;
  border-top-color:blue;
}

/* creates the smaller  triangle */
.comment:after {
  content:"\00a0";
  display:block; /* reduce the damage in FF3.0 */
  position:absolute;
  bottom:-25px; /* value = - border-top-width - border-bottom-width */
  left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  width:0;
  height:0;
  border:13px solid transparent;
  border-top-color:#fff;
}
/* ------------------------------------------------------------------------ */
/* Navigation Bar */
/* ------------------------------------------------------------------------ */

#menu {
  width: 998px;
  height: 40px;
  clear: both;
  position: relative;
  padding-bottom: 40px;
}

ul#nav {
  float: left;
  width: 998px;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #dc0000 url(../img/menu-parent.png) repeat-x;
  -webkit-border-radius:  0  0 10px 10px;
  -khtml-border-radius:  0  0 10px 10px;
  -moz-border-radius:  0  0 10px 10px;
  border-radius:  0  0 10px 10px;
}

ul#nav li {
  display: inline;
}

ul#nav li a {
  float: left;
  font: bold 1.1em arial,verdana,tahoma,sans-serif;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #880000;
  margin: 0;
  padding: 0 30px;
  background: #dc0000 url(../img/menu-parent.png) repeat-x;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* APPLIES THE ACTIVE STATE */
ul#nav .current a, ul#nav li:hover > a  {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #330000;
  background: #bb0000;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* THE SUBMENU LIST HIDDEN BY DEFAULT */
ul#nav  ul {
  display: none;
}

/* WHEN THE FIRST LEVEL MENU ITEM IS HOVERED, THE CHILD MENU APPEARS */
ul#nav li:hover > ul {
  position: absolute;
  display: block;
  width: 967px;
  height: 45px;
  position: absolute;
  margin: 40px 0 0 0;
  background: #aa0000 url(../img/menu-child.png) repeat-x;  
  -webkit-border-radius: .5em .5em .5em .5em;
  -khtml-border-radius:  .5em .5em .5em .5em;
  -moz-border-radius: .5em .5em .5em .5em;
  border-radius: .5em .5em .5em .5em;
  padding-left: 31px;
}

ul#nav li:hover > ul li a {
  float: left;
  font: bold 1.1em arial,verdana,tahoma,sans-serif;
  line-height: 45px;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #110000;
  margin: 0;
  padding: 0 30px 0 0;
  background: #aa0000 url(../img/menu-child.png) repeat-x; 
}

ul#nav li:hover > ul li a:hover {
  color: #120000;
  text-decoration: none;
  text-shadow: none;
}


/* ------------------------------------------------------------------------ */
/* NextPrev Bar */
/* ------------------------------------------------------------------------ */

#next_prev {
  background: blue;
  width: 100%;
  position: relative;
}
#next_prev a {
  color: white;	
}
#next_prev a:link {
  text-decoration: none;
}
#next_prev ul {
  position: absolute;
  left: 375px; 
  top: 5px;
}
#next_prev li {
  display: inline;
  border: 1px solid black;
  background:red;
  padding: 5px;
  -webkit-border-radius: .5em .5em .5em .5em;
  -khtml-border-radius:  .5em .5em .5em .5em;
  -moz-border-radius: .5em .5em .5em .5em;
  border-radius: .5em .5em .5em .5em;
}
.next {
  position: absolute;
  right: 20px;
  background:red;
  padding: 5px;
  border: 1px solid black;
  -webkit-border-radius: .5em .5em .5em .5em;
  -khtml-border-radius:  .5em .5em .5em .5em;
  -moz-border-radius: .5em .5em .5em .5em;
  border-radius: .5em .5em .5em .5em;
}
.prev {
  position: absolute;
  left: 20px;
  background:red;
  padding: 5px;
  border: 1px solid black;
  -webkit-border-radius: .5em .5em .5em .5em;
  -khtml-border-radius:  .5em .5em .5em .5em;
  -moz-border-radius: .5em .5em .5em .5em;
  border-radius: .5em .5em .5em .5em;
}

/* ------------------------------------------------------------------------ */
/* Header */
/* ------------------------------------------------------------------------ */
#header {
  position: relative;
  height: 100px;
}
#header img {
  position: absolute;
  top: 0px;
  left: 5px;
}
#header h1 {
  position: absolute;
  top: 0px;
  left: 140px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px #000000;
  
}
#header p {
  color: red;
  position: absolute;
  top: 30px;
  left: 140px;
  margin-bottom: 20px;
  font-size: 16px;
  text-shadow: 1px 1px 1px #000000;
}
#header a {
  text-decoration: none;
}
#site_name_emph {
  color: blue;
}
#site_name {
  color: red;
}
#tagline {
  font-size: 75%;
}
#stardate {
  color: black;
  font-size: 75%;
}

/* ------------------------------------------------------------------------ */
/* Sidebar */
/* ------------------------------------------------------------------------ */

#sidebar {
}
#top_likes_dislikes, #top_likes_dislikes {
  -webkit-border-radius: 1em 1em 1em 1em;
  -khtml-border-radius:  1em 1em 1em 1em;
  -moz-border-radius: 1em 1em 1em 1em;
  border-radius: 1em 1em 1em 1em;
  -webkit-box-shadow: 5px 5px 5px #777;
  -moz-box-shadow: 5px 5px 5px #777; 
  box-shadow: 5px 5px 5px #777; 
  background: red;
  padding: 4px;
  margin-bottom: 20px;
}
#top_likes_dislikes ul li, #top_likes_dislikes ul li {
  font-size: 80%;
  margin-bottom: 5px;
}
#top_likes_dislikes h3 {
  border-bottom: 1px solid black;
  font-size:110%;
  font-weight: bold;
  margin-bottom: 3px;
}

/* ------------------------------------------------------------------------ */
/* Userbar */
/* ------------------------------------------------------------------------ */
#userbar {
  padding-right: 15px;
  padding-left: 25px;
  padding-bottom: 12px;
  background: red;
  -webkit-border-radius: 0em 0em 0em 3em;
  -khtml-border-radius:  0em 0em 0em 3em;
  -moz-border-radius: 0em 0em 0em 3em;  
  border-radius: 0em 0em 0em 3em;
  -webkit-box-shadow: 5px 5px 5px #777;
  -moz-box-shadow: 5px 5px 5px #777; 
  box-shadow: 5px 5px 5px #777; 
  position:absolute;
  top:0px;right:0px;
  z-index: 20;
}

/* ------------------------------------------------------------------------ */
/* Footer */
/* ------------------------------------------------------------------------ */
#footer h6 {
  margin-top: 50px;
  text-align: center;
  font-size: 60%;
  padding: 10px;
} 

/* ------------------------------------------------------------------------ */
/* Content */
/* ------------------------------------------------------------------------ */
#content {
  background: #072d3c;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  -webkit-border-radius: 0em 0em 2em 2em;
  -khtml-border-radius:  0em 0em 2em 2em;
  -moz-border-radius: 0em 0em 2em 2em;
  border-radius: 0em 0em 2em 2em;
  position: relative;
  padding-bottom: 30px;
}
/* ------------------------------------------------------------------------ */
/* About */
/* ------------------------------------------------------------------------ */
#about h1 {
  font-size: 125%;
  color: blue;
}
#about p {
  color: white;
}

/* ------------------------------------------------------------------------ */
/* Forms */
/* ------------------------------------------------------------------------ */
form,input,select,textarea{margin:0; padding:0; color:#ffffff;}

div.form_box {
  margin:0 auto;
  width:500px;
  background:#222222;
  position:relative;
  top:50px;
  border:1px solid #262626;
}

div.form_box h1 { 
  color:#ffffff;
  font-size:18px;
  text-transform:uppercase;
  padding:5px 0 5px 5px;
  border-bottom:1px solid #161712;
  border-top:1px solid #161712; 
}

div.form_box label {
  width:100%;
  display: block;
  background:#1C1C1C;
  border-top:1px solid #262626;
  border-bottom:1px solid #161712;
  padding:10px 0 10px 0;
}

div.form_box label span {
  display: block;
  color:#bbbbbb;
  font-size:12px;
  float:left;
  width:100px;
  text-align:right;
  padding:5px 20px 0 0;
}

div.form_box .input_text {
  padding:10px 10px;
  width:200px;
  background:#262626;
  border-bottom: 1px double #171717;
  border-top: 1px double #171717;
  border-left:1px double #333333;
  border-right:1px double #333333;
}

div.form_box .message{
  padding:7px 7px;
  width:350px;
  background:#262626;
  border-bottom: 1px double #171717;
  border-top: 1px double #171717;
  border-left:1px double #333333;
  border-right:1px double #333333;
  overflow:hidden;
  height:150px;
}

div.form_box .button
{
  margin:0 0 10px 0;
  padding:4px 7px;
  background:#CC0000;
  border:0px;
  position: relative;
  top:10px;
  left:382px;
  width:100px;
  border-bottom: 1px double #660000;
  border-top: 1px double #660000;
  border-left:1px double #FF0033;
  border-right:1px double #FF0033;
}