<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" >
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/yui_base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css"> 
    {% block head %}{% endblock %}
    <title>{% block title %}{{ site_title }}{% endblock %}</title>
  </head>

<body>
<div id="doc2" class="yui-t7"> 
  <div id="hd" role="banner">
    {% include "userbar.html" %}
    {% include "header.html" %}
  </div> 
  <div id="bd" role="main"> 
    <div role="navigation" class="yui-g"> 
      {% include "nav.html" %}
      {% include "best_worst.html %}
    </div>
    <div class="yui-ge"> 
      <div role="application" class="yui-u first"> 
	<div id="content_block">
	  <div id="content">
	    {% block content %}{% endblock %}
	  </div>
	</div> 
      </div> 
      <div class="yui-u"> 
	{% include "footer.html" %}
      </div> 
    </div>
  </div>
</div> 

  <!-- Google Analytics -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ google_analytics_key }}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <!-- /Google Analytics -->
  </body>
</html>