<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/yui_base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">    
    {% block head %}{% endblock %}
  </head>

  <body>
    {% include "userbar.html" %}
    {% include "header.html" %}
    <div id="content_block">
      {% include "nav.html" %}
      <div id="content">{% block content %}{% endblock %}</div>
      {% include "footer.html" %}
    </div>
    {% include "sidebar.html" %}
    
  <!-- Google Analytics -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ google_analytics_key }}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <!-- /Google Analytics -->
  </body>
</html>