{% extends "base.html" %}

{% load comments %}

{% block content %}
<div class="triangle-border"><a name={{ post.id }}>{{ post.content }}</a>
  <p><span class="post_user">Posted by: {% ifequal post.owner None %}Anon{% else %}{{ post.owner.username }}{% endifequal %}.</span></p>
</div>
<table class="like-dislike">
  <td class="like-dislike"><a href="/like/{{ post.id }}/">{{ like }}</a> ({{ post.likes }})</td>
  <td class="like-dislike"><a href="/dislike/{{ post.id }}/">{{ dislike }}</a> ({{ post.dislikes }})</td>
</table>
{% render_comment_list for post %}
<!--<form action="/comments/post/" method="post">{% csrf_token %}
  <p><label type='hidden' style='display:none;' for="id_name">Name:</label> <input id="id_name" type="text" type='hidden' style='display:none;' name="name"style='display:none;' maxlength="50" /></p> 
  <p><label for="id_email" type='hidden' style='display:none;'>Email address:</label> <input type='hidden' style='display:none;' type="text" name="email" id="id_email" /></p> 
  <p><label for="id_url" type='hidden' style='display:none;'>URL:</label> <input type='hidden' style='display:none;' type="text" name="url" id="id_url" /></p> 
  <p><label for="id_comment">Comment:</label> <textarea id="id_comment" rows="4" cols="40" name="comment"></textarea></p> 
  <p><label for="id_honeypot" type='hidden' style='display:none;'>If you enter anything in this field your comment will be treated as spam:</label> <input type='hidden' style='display:none;' type="text" name="honeypot" id="id_honeypot" /><input type="hidden" name="content_type" value="webwork.post" id="id_content_type" /><input type="hidden" name="object_pk" value="14" id="id_object_pk" /><input type="hidden" name="timestamp" value="1286681764" id="id_timestamp" /><input type="hidden" name="security_hash" value="1c6d75555c48df8eadfbff569b8f249419eb4442" id="id_security_hash" /></p> 
  <tr> 
    <td></td> 
    <td><input type="submit" name="submit" class="submit-post" value="Post"></td> 
  </tr> 
  
</form>-->
{% endblock %}
