{% extends "base.html" %}

{% load comments %}

{% block content %}
<div class="triangle-border"><a name={{ post.id }}>{{ post.content }}</a>
  <p><span class="post_user">Posted by: {% ifequal post.owner None %}Anon{% else %}{{ post.owner.username }}{% endifequal %}.</span></p>
</div>
<table class="like-dislike">
  <td class="like-dislike"><a href="/like/{{ post.id }}/">{{ like }}</a> ({{ post.likes }})</td>
  <td class="like-dislike"><a href="/dislike/{{ post.id }}/">{{ dislike }}</a> ({{ post.dislikes }})</td>
</table>
{% render_comment_list for post %}
{% get_comment_form for post as form %}
<form action="{% comment_form_target %}" method="post">
  {{ form }}
  <tr>
    <td></td>
    <td><input type="submit" name="preview" class="submit-post" value="Preview"></td>
  </tr>
</form>
{% endblock %}