{% extends "base.html" %}

{% block head %}
  <script type="text/javascript" src="/static/js/characterCount.js"></script>
{% endblock %}

{% block content %}
<form action="/new_post/" method="post">{% csrf_token %}</div> 
    <p><label for="id_content">How geeky is your life?</label> <textarea id="id_content" name="content" maxlength="256" cols="40" rows="5" onKeyUp="toCount('id_content','sBann','{CHAR} characters left',256);"></textarea></p> 
    <span id="sBann" class="minitext">256 characters left.</span>
    <input type="submit" value="Submit" /> 
</form> 
{% endblock %}