{% extends "base.html" %}
{% load comments %}

{% block head %}
  <script type="text/javascript" src="/static/js/characterCount.js"></script>
  <meta property="og:title" content="{{ site_short_title }}"/>  
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://{{ site_url }}" /> 
  <meta property="og:image" content="http://{{ site_url }}/static/img/logo.png" />
  <meta property="og:site_name" content="{{ site_short_title }}"/> 
{% endblock %}

{% block content %}
<script>
function like(like_dislike, post) {
  $.getJSON("/like/", { post_id:post, like_dis:like_dislike }, function(json){
    var elem = '#post-' + post;
    if (json['success'] == true) {
      if (like_dislike == 'like') {
	//Update number of likes, display change.
	elem = elem + '-like';
	var newNum = '(' + json['likes'] + ')';
      }
      else {
	//Update number of dislikes, display change.
	elem = elem + '-dislike';
	var newNum = '(' + json['dislikes'] + ')';
      }
      $(elem).replaceWith(newNum);
    }
  
  });
};
</script>
{% for post in posts %}
  {% include "post_content.html" %}
{% endfor %}
<div id="bottom_nav">
  {% include "next_prev_bar.html" %}
</div>

<script type="text/javascript">
  var addthis_config = {
    data_track_clickback:true,
    ui_click:true,
    services_compact:'facebook, myspace, twitter, linkedin, digg, buzz, stumbleupon, reddit, bebo, delicious, technorati, more',
    data_use_flash:false
  };
  var addthis_share = {
    {{ twitter_template }} 
  }
</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=mylifeisgeek"></script>

{% endblock %}
