{% extends "base.html" %}

{% load comments %}
{% block head %}
  <script type="text/javascript" src="/static/js/characterCount.js"></script>
  <meta property="og:title" content="MLIGeek"/>  
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site_url }}" /> 
  <meta property="og:image" content="{{ site_url }}/static/img/logo.png" />
  <meta property="og:site_name" content="MLIGeek"/> 
{% endblock %}

{% block content %}
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>

{% include "next_prev_bar.html" %}
{% for post in posts %}
{% include "post_content.html" %}
{% endfor %}
{% endblock %}
