<div id="sidebar">
  <div id="box1">
    
    <div id="top_likes_dislikes">
      <h3><a href="/best/">Top {{ like }} Posts</a></h3>
      <ul>
      {% for like in top_likes %}
      <li><a href="/comments/{{ like.id }}/">{{ like.content }} ({{ like.likes }})</a></li>
      {% endfor %}
      </ul>
    </div>
    
    <div id="top_likes_dislikes">
      <h3><a href="/worst/">Top {{ dislike }} Posts</a></h3>
      <ul>
	{% for dislike in top_dislikes %}
	<li><a href="/comments/{{ dislike.id }}/">{{ dislike.content }} ({{ dislike.dislikes }})</a></li>
	{% endfor %}
      </ul>
    </div>
  </div>
  <div id="box2">
  <script type="text/javascript"><!--
  google_ad_client = "pub-1879314568120827";
  /* 250x250, created 10/14/10 */
  google_ad_slot = "6761729253";
  google_ad_width = 250;
  google_ad_height = 250;
  //-->
  </script>
  <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
  </div>
  <div id="box3">
  </div>
</div>
