<div id="sidebar">
  <div id="box1">
  <h3>Top Likes</h3>
  {% for like in top_likes %}
  <p>{{ like.content }} ({{ like.likes }})</p>
  {% endfor %}
  <h3>Top Dislikes</h3>
  {% for dislike in top_dislikes %}
  <p>{{ dislike.content }} ({{ dislike.dislikes }})</p>
  {% endfor %}
  <script type="text/javascript"><!--
  google_ad_client = "pub-1879314568120827";
  /* 250x250, created 10/14/10 */
  google_ad_slot = "6761729253";
  google_ad_width = 250;
  google_ad_height = 250;
  //-->
  </script>
  <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
  </div>
  <div id="box2">
  <script type="text/javascript"><!--
  google_ad_client = "pub-1879314568120827";
  /* 250x250, created 10/14/10 */
  google_ad_slot = "6761729253";
  google_ad_width = 250;
  google_ad_height = 250;
  //-->
  </script>
  <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
  </div>
  <div id="box3">
  <script type="text/javascript"><!--
  google_ad_client = "pub-1879314568120827";
  /* 250x250, created 10/14/10 */
  google_ad_slot = "6761729253";
  google_ad_width = 250;
  google_ad_height = 250;
  //-->
  </script>
  <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
  </div>
</div>
