<!DOCTYPE html> 
<html>
  <head>
    {% block title %}My Life Is Geek{% endblock %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
    <script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>
  </head>
  
  <body>
    <div data-role="page"> 
      <div data-role="header">{% block header %}<h1>My Life Is Geek</h1>{% endblock %}
	<div data-role="navbar">
	  <ul>
	    <li><a rel="external" href="/home/1/" class="ui-btn-active">Home</a></li>
	    <li><a rel="external" href="/new_post/">New Post</a></li>
	    {% ifequal post.owner None %}
	      <li><a rel="external" href="/accounts/login/">Login/Register!</a></li>
	    {% else %}
	      <li><a rel="external" href="/accounts/logout/">Logout: {{ post.owner.username }}</a></li>
	    {% endifequal %}
	    <li><a rel="external" href="/best/">Best</a></li>
	    <li><a rel="external" href="/worst/">Worst</a></li>
	    <li><a rel="external" href="/about/">About</a></li>
	  </ul>
	</div>
      </div> 
      <div data-role="content">
	{% block content %}<p>Data</p>{% endblock %}
      </div> 
      <div data-role="footer">
	{% block footer_nav %}{% endblock %}
	<h5>Copyright 2010 Josh Gachnang</h5>
      </div> 
    </div> 
    
    
    
  </body>
</html>