{% load comments %}

{% get_comment_count for post as comment_count %}
<h4><a name={{ post.id }} href="{{ site_url }}/comments/{{ post.id }}/"><span class="post_content">{{ post.content }}</span></a></h4>
<p><span class="post_user">Posted by: {% ifequal post.owner None %}Anon{% else %}{{ post.owner.username }}{% endifequal %}.</span></p>
<p>fddf<a href="/comments/{{ post.id }}/">a</a> : ({{ comment_count }}) <a href="/like/{{ post.id }}/">{{ like }}</a> ({{ post.likes }}) <a href="/dislike/{{ post.id }}/">{{ dislike }}</a> ({{ post.dislikes }})</p>