{% extends "mobile_base.html" %}
{% load comments %}

{% block content %}
<ul data-role="listview" data-theme="c">
{% for post in posts %}
  <li>
  {% include "mobile_post_content.html" %}
  </li>
{% endfor %}
</ul>

{% endblock %}

{% block footer_nav %}
<div data-role="navbar">
  <ul>
    {% ifnotequal prev 0 %}
      <li><a rel="external" href='/home/{{ prev }}'>Prev</a></li>
    {% endifnotequal %}
    {% ifnotequal next 0 %}
      <li><a rel="external" href='/home/{{ next }}'>Next</a></li>
    {% endifnotequal %}
  </ul>
</div>
{% endblock %}