<html>
  <head>
    {% block title %}My Life Is Geek{% endblock %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css"> 
  </head>
  
  <body>
    <div id="doc" class="yui-t7">
      <div id="hd" role="navigation">
	{% include "nav.html" %}
      </div>
      <div id="bd" role="main">
	<div class="yui-g">
	  {% block content %}{% endblock %}
	</div>
      </div>
      <div id="ft" role="contentinfo">
	{% include "footer.html" %}
      </div>
    </div>
  </body>
</html>