{% load comments i18n %}
{% if user.is_authenticated %}
  <div class="form_box"> 
    <form action="{% comment_form_target %}" method="post">{% csrf_token %}
      <label>
	<h2 class="new_post">Add some input to this stream of output:</h2>
      </label>
      {% for field in form %}
	{% if field.is_hidden %}
	  {{ field }}
	{% else %}
	  {% if field.name != "name" and field.name != "email" and field.name != "url" and field.name != "honeypot" %}
	    {% if field.name == "comment" %}
	      <label>
		<textarea  class="message" id="id_content" name="content" maxlength="256" cols="40" rows="5" onKeyUp="toCount('id_content','sBann','{CHAR} ',256);"></textarea>
		<p id="sBann" class="char_count new_post">256</p>
	      </label>
	    {% else %}
	      {% if field.errors %}{{ field.errors }}{% endif %}
	      {{ field }}
	    {% endif %}
	  {% endif %}
      {% endif %}
      {% endfor %}
      <label>
	<input type="submit" class="button" value="Add Comment" />  
      </label>
      {% if next %}<input name="next" type="hidden" value="{{ next }}" />{% endif %}
    </form>
  </div>
{% else %}
    I'm sorry, but you must be <a href="javascript:alert('send to login page')">logged in</a> to submit comments.
{% endif %}